<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to bookstore.vn</h1>
    <p>
      You have successfully checked out the payment for your books
    </p>
    <p>Thanks for using our services and have a great day!</p>
  </body>
</html>