<h1>This is the index page</h1>

	<table>
		<tr>
			<th>Email</th>
			<th>Password</th>
		</tr>
		<% @users.each do |user|%>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.password %></td>
		</tr>
		<% end %>
	</table>