<h1>Showing selected book</h1>
<p>Title: <%= @book.title%></p>
<p>
	Description: <%= @book.description %>
</p>

<%= link_to "Edit this book", edit_book_path(@book) %>
<%= link_to "Back to books listing", books_path %>