@import "bootstrap-sprockets";

@import "bootstrap";

body {
    font-family: 'HelveticaRegular',Helvetica,Arial;
    background-color: #F0F8FF;
}
.nav > li > a {
	font-size: 1.5em;
}

img.logo-image{
	max-height: 50px;
	width: auto;
	background-color: #e74c3c;
}

footer {
	background-color: #ddd;
}

.category-title {
	font-size: 1.8em;
	color: #fff;
}

.navbar {
	margin-bottom: 0px;
}

aside {
	text-align: center;
	background-color: #9b59b6;
}
aside h4 {
	margin-top: 0px;
}

aside h5 {
	color: #ecf0f1;
	font-size: 1.5em;
}

.book{
  margin-bottom: 80px;
	padding: 10px;
}
.book-title {
  text-align: center;
}
.list-book {
  margin: 0px;
}
.book>a {
	margin: 5px;
  padding: 10px;
}
.book:hover {
	border: solid 1px gray;
}
.card-img-top {
	display:block;
	margin: 0px auto;
  height: 20em !important;
  width: auto;
}

.carousel_image{
    height: 450px !important;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 90%;
    height: auto;
}
.image_caption{
    top: 72%;
}
#mainCarousel {
	border-bottom: thick 1px gray;
}	
.slide-show {
	padding: 0px;
	border: solid 2px gray;
}
.title {
	font-size: 25px;
	color: orange;
}
.categories {
	font-size: 20px;
	color: blue;
}
.description {
	font-size: 18px;
}
.introduction {
	font-size: 20px;
	border-top: solid 2px gray;
	padding-top: 10px;
  padding-left: 10px;
}

.price {
	padding-top: 10px;
	color: green;
  font-size: 20px;
}

.image {
	max-width: 100%;
	height: auto;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;	
}

.card-img-top {
  max-width: 100%;
  height: auto;
}
.cart-item {
  border-bottom: 1px solid #e1e1e1;
}
.cart-item img {
  max-width: 100%;
  height: auto;
  min-height: auto;
  max-height: 200px;
  float: left;
  margin: 3px;
  padding: 3px; 
}
.cart-title {
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 700;
  margin: 5px;
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.col-right {
  margin: 10px;
}
.payment {
  font-size: 20px;
  padding: 5px;
}
.section-title {
  font-size: 30px;
  text-align: center;
  margin:30px;
}
.category-item {
  margin: 30px;
  padding: 20px;
  background-color: #C0C0C0;
}
.category-name {
  font-size: 2em;
}
.category-description {
  font-size: 1.2em;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.new-btn {
  margin: 2em;
}
.tag {
  background-color: rgb(250, 251, 252);
  border: 1px solid rgb(201, 218, 235);
  padding: 2px 10px;
  display: inline-block;
  font-size: 20px;
}
.cover-img {
  max-height: 25%;
  width: auto;  
}
.theme {
  position: absolute;
}
.slogan {
  background-color: rgba(219, 91, 67, 1);
  display: table;
  margin: auto auto;
  padding: 1em 2em;
  z-index: 3;
  top: 20px;
}
.jumbotron {
  background-image: image-url("theme.jpg");
  margin-bottom: 0px;
}
.title-font {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: #FFFFFF !important;
}
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
  color: #fff !important;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
     color: #000 !important;
     background-color: #fff !important;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000 !important;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666 !important;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc !important;
    background: none;
  }
}

#search form {
  width: 100%;
}
search-btn {
  float:left;
}
