<div class="row">
<h2 class="section-title"> Category Information </h2>
<div class="col-xs-12"></div>
  <div class="category-item">
    <p class="category-name"><%=@category.name%></p>
    <p class="category-description"><%=@category.description%></p>
    <div class="row">
      <%= link_to "Edit", edit_category_path, class: "btn btn-xs btn-primary button" %>
      <%= link_to "Delete", category_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger button" %>
    </div>
  </div>
</div>
